{% extends "base.html" %}

{% block Title %}
	{{Title}} | {{Title_Web}}
{% endblock Title %}


{% block pageTitle %}
	<!-- {{Title_Web}} -->
{% endblock pageTitle %}


{% block contents %}
	<center><h2>{{Title_Web}}</h2></center><hr>
	
	{% if search %}
	<center>
		<p>Mencari Film berjudul {{ search }}</p>
		{% for data in films %}
			<a href="{% url 'film:details' data.slug %}" style="text-decoration:none; color:inherit;">
			<img src="{{ data.image.url }}" class="img-thumbnail" style="width: 170px; height: 250px;">
			</a>
		{% endfor %}
	</center>
	{% endif %}

{% endblock contents %}